*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container {
    width: 89%;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: .7rem;
}

.gray {
    background-color: rgb(238, 238, 238);
}

.green {
    width: 100%;
    height: 76px;
    margin-top: 2px;
    display: flex;

}

.green1 {
    width:38%;
    background-color: rgb(126, 229, 218);
    text-align: center;
    padding: 10px;
}

.green2 {
    
    width: 20%;
    margin: 0 2px;
    background-color: rgb(112, 204, 194);
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.green3 {
    width: 42%;
    background-color: rgb(98, 179, 170);
    text-align:center;
    font-size: 13px;
    padding-bottom: 10px;
    }

.copy {
    text-align: center;
    font-size:small;
    margin-top: 15px;
}

.button {
    padding: 1px 6px;
}